.btn
  display: flex
  align-items: center
  justify-content: center
  width: fit-content
  padding: 12px 20px 11px 20px
  text-transform: uppercase
  letter-spacing: 2px
  font-weight: 600
  border-radius: 1px
  cursor: pointer

  &_light
    background: $light
    color: $accent
    &:hover
      background: $accent
      color: $light
