.head
  position: relative
  width: 100%
  height: 100px
  background: $dark
  @media #{$phone}
    height: 60px

  &__grid
    display: flex
    flex-direction: column
    @media #{$phone}
      flex-direction: row
      height: 100%

  &__wrap
    display: flex
    align-items: center
    margin: 16px 0

    .text
      margin: 0 0 0 24px
      font-size: .9rem
      @media #{$phone}
        display: none

  &__logo
    width: 80px
    height: 23px
    margin: 0 auto 0 0
    background: url('../images/header__logo.png') no-repeat center

  &__line
    position: absolute
    top: 55px
    left: 0
    width: 100%
    height: 1px
    background: $accent
    @media #{$phone}
      display: none

  &__nav
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    margin: 16px 0
    @media #{$phone}
      position: fixed
      z-index: 2
      top: 0
      left: 0
      flex-direction: column
      align-items: flex-end
      width: 100%
      height: 100%
      margin: 0
      padding: 32px 16px 72px 16px
      background: $dark

    a, span
      height: 40px
      font-size: 1rem
      font-weight: 400
      color: $light
      text-decoration: none
      @media #{$phone}
        font-size: 1.6rem
        font-weight: 700
        text-align: right

    @media #{$hover}
      a:hover
        color: $accent

    &-submenu
      position: absolute
      top: 32px
      right: 0
      display: none
      flex-direction: column
      padding: 16px
      background: $light
      border-radius: 1px
      &::before
        content: ""
        width: 0
        height: 0
        position: absolute
        right: 12px
        top: -12px
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 12px solid $light
      &:hover
        display: flex
      @media #{$phone}
        position: static
        display: flex
        background: none
        padding: 0

      a, span
        height: 20px
        margin-bottom: .4rem
        font-size: .9rem
        color: $dark
        text-align: right
        &:last-child
          margin: 0
        @media #{$phone}
          margin: 0
          font-size: 1.6rem
          font-weight: 700
          text-align: right
          color: #fff   

  
  &__trigger
    position: relative
    z-index: 3
    align-self: center
    width: 24px
    height: 24px
    margin: 0 0 0 auto
    background: $accent
    display: none
    @media #{$phone}
      display: block
      

#sub
  &:hover + .head__nav-submenu
    display: flex
