.head
  position: relative
  width: 100%
  height: 110px
  background: $dark

  &__grid
    display: flex
    flex-direction: column

  &__wrap
    display: flex
    align-items: center
    margin: 16px 0

    .text
      margin: 0 0 0 24px
      font-size: .9rem

  &__logo
    width: 80px
    height: 23px
    margin: 0 auto 0 0
    background: url('../images/header__logo.png') no-repeat center

  &__line
    position: absolute
    top: 55px
    left: 0
    width: 100%
    height: 1px
    background: $accent

  &__nav
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    margin: 16px 0

    a, span
      height: 40px
      font-size: 1rem
      font-weight: 400
      color: $light
      text-decoration: none
    a:hover
      color: $accent

    &-submenu
      position: absolute
      top: 32px
      right: 0
      display: none
      flex-direction: column
      padding: 16px
      background: $light
      border-radius: 1px
      &::before
        content: ""
        width: 0
        height: 0
        position: absolute
        right: 12px
        top: -12px
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 12px solid $light
      &:hover
        display: flex

      a, span
        height: 20px
        margin-bottom: .4rem
        font-size: .9rem
        color: $dark
        text-align: right
        &:last-child
          margin: 0

#sub
  &:hover + .head__nav-submenu
    display: flex
