.main
  padding: 64px 0 64px 0
  &_selection
    background: $dark url('../images/waves.png') no-repeat 100% 100%
    background-size: contain
    .title_h2
      margin: 0 0 24px 0
    .title_h3
      margin: 0 0 16px 0

  &__item
    position: relative
    margin: 0 0 24px 0
    padding: 16px 32px 16px 32px
    border-radius: 4px
    transition: all .15s ease-out
    box-shadow: 0px 0px 1px rgba(0, 45, 77, 0.3), 0px 3px 4px rgba(0, 45, 77, 0.05)
    background: #fff url('../images/decree-icon.svg') no-repeat right bottom
    overflow: hidden
    &:hover
      box-shadow: 0px 0px 8px rgba(0, 45, 77, 0.05), 0px 32px 40px rgba(0, 45, 77, 0.15)
    &:last-child
      margin: 0

    &_img
      display: flex
      padding: 0
      background: #fff

      .main__img
        width: 55%
        max-height: 400px
        overflow: hidden
        img
          width: 100%
          height: 100%
          object-fit: cover
      .main__content
        padding: 16px 32px 16px 32px

    &_map
      .main__img
        width: 200%
        height: 300px

  &__content
    display: flex
    align-items: flex-start
    flex-direction: column
    a
      margin-bottom: .6rem
      color: $accent
      text-decoration: underline
      font-size: .9rem
      transition: all .15s ease-out
      &:hover
        color: $dark
        text-decoration: none
    .title
      margin: 0 0 12px 0
    .title_h4
      margin: 0 0 4px 0
    .text
      margin: 0 0 16px 0

  &__text-block
    width: 80%
    margin: 0 0 24px 0
    p:not(:last-child)
      margin: 0 0 16px

  &__product
    height: 120px
    padding: 16px 32px 16px 32px
    border-radius: 4px
    transition: all .15s ease-out
    box-shadow: 0px 0px 1px rgba(0, 45, 77, 0.3), 0px 3px 4px rgba(0, 45, 77, 0.05)
    background: #fff url('../images/product-icon.svg') no-repeat right bottom
    overflow: hidden
    &:hover
      box-shadow: 0px 0px 8px rgba(0, 45, 77, 0.05), 0px 32px 40px rgba(0, 45, 77, 0.15)

    &-wrap
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
      grid-gap: 16px 16px
      width: 100%
      &_we-do
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
      &_solutions
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr))
        .main__product
          height: 240px
          background-size: cover !important
          &:hover
            background-color: $accent !important
          &:nth-child(1)
            background: $dark url('../images/solutions__item-bg-dark-1.png') no-repeat center
          &:nth-child(2)
            background: $dark url('../images/solutions__item-bg-dark-2.png') no-repeat center
          &:nth-child(3)
            background: $dark url('../images/solutions__item-bg-dark-3.png') no-repeat center
          &:nth-child(4)
            background: $dark url('../images/solutions__item-bg-dark-4.png') no-repeat center
      &_selection
        margin: 0 0 32px 0
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
        .main__product
          height: 100px
          background: #fff
          transition: all .15s ease-out
          &:hover
            background: $accent !important
            .radio__label
              color: #fff
      &_variants
        display: flex
        flex-direction: column
        align-items: flex-start
        .title_h3
          margin: 0 0 16px 0
        a, span
          margin: 0 0 8px 0
          font-size: 1rem
          font-weight: 700
        .btn
          margin: 16px 0 0 0
        #products
          display: flex
          flex-direction: column
          align-items: flex-start
