.radio

  &:checked + .radio__label
    font-weight: 600
    display: flex
    &::after
      content: ''
      width: 14px
      height: 11px
      margin: 3px 0 0 8px
      background: url('../images/check.svg') no-repeat center
      background-size: contain

  &__label
    font-weight: 1rem400
    color: $accent

  &__wrap
    margin: 0 0 4px 0
