// colors
$dark: #2d2d2d
$light: #f1f1f1
$accent: #27b7bf

@keyframes pulse
  20%
    transform: scale(0.95)
    box-shadow: 0 0 0 0 rgba($accent, 0.7)

  70%
    transform: scale(1)
    box-shadow: 0 0 0 10px rgba($accent, 0)

  100%
    transform: scale(0.95)
    box-shadow: 0 0 0 0 rgba($accent, 0)
