.text
  font-family: 'Core Sans', sans-serif
  color: $dark
  font-weight: 400
  font-size: 14px

  &_light
    color: $light

  &_xl
    font-size: 20px
  &_l
  &_m
    font-size: 16px
  &_s
  &_xs
    font-size: 12px
